In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [1]:
#!pip install psycopg2-binary

In [2]:
#!pip install psycopg2

In [7]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [10]:
database_name = 'prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [13]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [16]:
import pandas as pd

## Q1. Which Tennessee counties had a disproportionately high number of opioid prescriptions?

In [62]:
query = '''SELECT 
    COUNT(p.drug_name) AS Opiod_count,
    f.county
FROM 
    prescription AS p
INNER JOIN 
    drug AS d
    ON p.drug_name = d.drug_name
INNER JOIN 
    prescriber AS pr
    ON pr.npi = p.npi
INNER JOIN 
    fips_county AS f
    ON pr.nppes_provider_zip5 = f.fipscounty
WHERE 
    d.opioid_drug_flag = 'Y' AND pr.nppes_provider_state='TN'
GROUP BY 
    f.county
ORDER BY 
    Opiod_count DESC
'''

In [64]:
query

"SELECT \n    COUNT(p.drug_name) AS Opiod_count,\n    f.county\nFROM \n    prescription AS p\nINNER JOIN \n    drug AS d\n    ON p.drug_name = d.drug_name\nINNER JOIN \n    prescriber AS pr\n    ON pr.npi = p.npi\nINNER JOIN \n    fips_county AS f\n    ON pr.nppes_provider_zip5 = f.fipscounty\nWHERE \n    d.opioid_drug_flag = 'Y' AND pr.nppes_provider_state='TN'\nGROUP BY \n    f.county\nORDER BY \n    Opiod_count DESC\n"

Now, bring it all together using the following syntax.

In [67]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

print(people)

    opiod_count       county
0           439       GRAHAM
1           424  NEW HANOVER
2           298      FORSYTH
3           289      HAYWOOD
4           252     BEAUFORT
5           235     CALDWELL
6           228         CLAY
7           228         DARE
8           184       STANLY
9           137         CASS
10          117        WELLS
11           87     CAVALIER
12           84     HERTFORD
13           75      MADISON
14           53     MCKENZIE
15           44       BERTIE
16           43      HALIFAX
17           41       NELSON
18           34     FRANKLIN
19           34       WARREN
20           28      CASWELL
21           26        ADAMS
22           25       DUPLIN
23           21       BOWMAN
24           17         NASH
25           14        GATES
26           10         WAKE
27            9      IREDELL
28            8     WILLIAMS
29            7       MORTON
30            7     JOHNSTON
31            6      ROLETTE
32            6     CABARRUS
33            5       CRAVEN
34            4   WASHINGTON
35            4       CAMDEN
36            3         WARD
37            2       PIERCE
38            1      MCHENRY
39            1        GRANT
40            1     PICKAWAY
41            1        UNION

## Q2. Who are the top opioid prescibers for the state of Tennessee?

In [80]:
query ='''SELECT
    pr.npi,         -- Prescriber ID
    CONCAT(pr.nppes_provider_first_name, ' ', pr.nppes_provider_last_org_name) AS prescriber_name,  -- first & last name of the prescriber
    pr.nppes_provider_state,     -- Prescriber state
    d.drug_name,                 -- Drug name
    p.total_day_supply           -- Total day supply
FROM
    drug d
JOIN
    prescription p
ON
    d.drug_name = p.drug_name
JOIN
    prescriber pr
ON
    p.npi = pr.npi
WHERE
    d.opioid_drug_flag = 'Y'
    AND pr.nppes_provider_state = 'TN'
	Order by p.total_day_supply DESC'''

In [82]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

print(people)

                npi  prescriber_name nppes_provider_state  \
0      1.861892e+09    ALICIA TAYLOR                   TN
1      1.447608e+09   SHARON CATHERS                   TN
2      1.649510e+09    CAYCE REDDING                   TN
3      1.891915e+09  JUSTIN KINDRICK                   TN
4      1.780011e+09     BRIAN HARNER                   TN
...             ...              ...                  ...
31927  1.669864e+09    CHARLES FLYNN                   TN
31928  1.558373e+09   MELISSA BARTON                   TN
31929  1.417265e+09     JOSEPH FIKES                   TN
31930  1.639429e+09      JAMES SMITH                   TN
31931  1.790193e+09  JENNIFER LANDIS                   TN

                       drug_name  total_day_supply
0                  OXYCODONE HCL           85191.0
1                  OXYCODONE HCL           84001.0
2      HYDROCODONE-ACETAMINOPHEN           69669.0
3                  OXYCODONE HCL           69081.0
4      HYDROCODONE-ACETAMINOPHEN           67762.0
...                          ...               ...
31927  HYDROCODONE-ACETAMINOPHEN              17.0
31928  HYDROCODONE-ACETAMINOPHEN              17.0
31929           MORPHINE SULFATE              17.0
31930  HYDROCODONE-ACETAMINOPHEN              15.0
31931  HYDROCODONE-ACETAMINOPHEN              13.0

[31932 rows x 5 columns]

## 3. What did the trend in overdose deaths due to opioids look like in Tennessee from 2015 to 2018?

In [84]:
query='''SELECT 
    od.year,
    SUM(od.overdose_deaths) AS total_deaths,
    SUM(p.population) AS total_population,
	fc.county,
	fc.state
FROM 
    overdose_deaths od
JOIN 
    fips_county fc
ON 
    CAST(od.fipscounty AS TEXT) = fc.fipscounty
JOIN 
    population p
ON 
    CAST(fc.fipscounty AS TEXT) = CAST(p.fipscounty AS TEXT)
WHERE 
    fc.state = 'TN'
    AND od.year BETWEEN 2015 AND 2018
GROUP BY 
    od.year,fc.state,fc.county
ORDER BY 
    od.year;'''

In [86]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

print(people)

     year  total_deaths  total_population      county state
0    2015            20           75538.0    ANDERSON    TN
1    2015             8           46854.0     BEDFORD    TN
2    2015             4           16154.0      BENTON    TN
3    2015             1           14413.0     BLEDSOE    TN
4    2015            19          127135.0      BLOUNT    TN
..    ...           ...               ...         ...   ...
375  2018             4           16713.0       WAYNE    TN
376  2018             5           33776.0     WEAKLEY    TN
377  2018             4           26394.0       WHITE    TN
378  2018            30          212161.0  WILLIAMSON    TN
379  2018            19          128874.0      WILSON    TN

[380 rows x 5 columns]

### 4. * Is there an association between rates of opioid prescriptions and overdose deaths by county?

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python