In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [1]:
#!pip install psycopg2-binary

In [2]:
#!pip install psycopg2

In [7]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [10]:
database_name = 'prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [13]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [16]:
import pandas as pd

## Q1. Which Tennessee counties had a disproportionately high number of opioid prescriptions?

In [41]:
query = '''SELECT 
    COUNT(p.drug_name) AS Opiod_count,
    f.county
FROM 
    prescription AS p
INNER JOIN 
    drug AS d
    ON p.drug_name = d.drug_name
INNER JOIN 
    prescriber AS pr
    ON pr.npi = p.npi
INNER JOIN 
    fips_county AS f
    ON pr.nppes_provider_zip5 = f.fipscounty
WHERE 
    d.opioid_drug_flag = 'Y' AND pr.nppes_provider_state='TN'
GROUP BY 
    f.county
ORDER BY 
    Opiod_count DESC
LIMIT 10;'''

In [43]:
query

"SELECT \n    COUNT(p.drug_name) AS Opiod_count,\n    f.county\nFROM \n    prescription AS p\nINNER JOIN \n    drug AS d\n    ON p.drug_name = d.drug_name\nINNER JOIN \n    prescriber AS pr\n    ON pr.npi = p.npi\nINNER JOIN \n    fips_county AS f\n    ON pr.nppes_provider_zip5 = f.fipscounty\nWHERE \n    d.opioid_drug_flag = 'Y' AND pr.nppes_provider_state='TN'\nGROUP BY \n    f.county\nORDER BY \n    Opiod_count DESC\nLIMIT 10;"

Now, bring it all together using the following syntax.

In [46]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

people.head()

   opiod_count       county
0          439       GRAHAM
1          424  NEW HANOVER
2          298      FORSYTH
3          289      HAYWOOD
4          252     BEAUFORT

## Q2. Who are the top opioid prescibers for the state of Tennessee?

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python